<div class="login-left">
  <div class="login-container">
    <div class="logo">
      <img src="/logo.png" alt="logo" />
    </div>
    <div class="heading">
      <p>Change Password</p>
    </div>
    <p class="mb-2">{{ email }}</p>
    <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="input-field"
        />
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          class="input-field"
        />
        <p *ngIf="errormessage" class="error-message">{{errormessage}}</p>
        <button type="submit" class="signin-btn">Change Password</button>
      </form>
    </div>
  </div>
</div>
